.container {
  background-color: rgb(137, 137, 96);
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 300px;
  background-color: rgb(107, 86, 159);
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  justify-content: center;
}
.login > input {
  margin-bottom: 50px;
  height: 30px;
}
